* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 10vh;
    margin-bottom: 20px;

    background-color: rgb(230, 230, 230);
}

header a > img {
    justify-self: start;
    padding: 5px;
    width: 5vw;
    height: 9vh;
}

.routes {
    margin: 0px 6px 0px 0px;
}

.routes > a { 
    color: rgb(57, 77, 84);
    text-decoration: none;
    padding: 0px 3px;
}

.toolbox-bar {
    display: flex;
    align-self: center;
    margin: 4vh auto;
    border-radius: 3px;
    background-color: rgb(57, 77, 84);
   
    width: 90vw;
    height: 10vh;
    
    text-align: center;
}

.toolbox-bar span {
    color: white;
    font-weight: bold;
    margin: auto;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.notes {
    display: flex;
    flex-direction: column;
    
    margin-top: 20px;
    padding: 9px;
    border-radius: 5px;
    overflow-wrap: break-word;

    height: fit-content;
    width: 23vw;

    background-color: rgb(61, 151, 184);
    box-shadow: 2.5px 3px 3px rgb(114, 114, 114);
    color: white;
}

.note-title {
    text-align: center;
    text-shadow: 1.5px 2px 2px rgb(170, 170, 170);

    margin-bottom: 9px;
}

.note-command {
    font-size: small;
    color: rgb(61, 151, 184);
    background-color: white;

    width: fit-content;
    padding: 4px;
    margin: 0px auto 9px auto;
}

.note-description {
    text-align: justify;

    margin-bottom: 9px;
    height: fit-content;
}

.note-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: fit-content;
    width: auto;
}

.note-reference {
    text-decoration: none;
    color: white;
    font-size: small;
    background-color: rgb(57, 77, 84);
    box-shadow: 0.5px 1.5px 1.5px rgb(49, 49, 49);

    border-radius: 20px;
    padding: 8px;

}

.note-reference:hover {
    box-shadow: none;
}

.note-technology {
    font-size: small;
    color: rgb(61, 151, 184);
    background-color: white;
    box-shadow: 1px 2px 2px rgb(190, 190, 190);

    border-radius: 20px;
    padding: 8px;
    width: fit-content;
}

