* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 10vh;

    background-color: rgb(230, 230, 230);
}

header a > img {
    justify-self: start;
    padding: 5px;
    width: 5vw;
    height: 9vh;
}

.routes {
    margin: 0px 6px 0px 0px;
}

.routes > a { 
    color: rgb(57, 77, 84);
    text-decoration: none;
    padding: 0px 3px;
}

.toolbox-bar {
    display: flex;
    align-self: center;
    margin: 4vh auto;
    border-radius: 3px;
    background-color: rgb(57, 77, 84);
   
    width: 90vw;
    height: 10vh;
    
    text-align: center;
}

.toolbox-bar span {
    color: white;
    font-weight: bold;
    margin: auto;
}